<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"veterna/veterna-index-gutenverse-hero"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":"1150"},"elementId":"guten-tdZJgR","margin":{"Desktop":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}},"Tablet":{"unit":"px","dimension":{"top":"80","bottom":"80","right":"10","left":"10"}},"Mobile":{"unit":"px","dimension":{"top":"60","bottom":"60"}}}} -->
<div class="section-wrapper" data-id="tdZJgR"><section class="wp-block-gutenverse-section guten-element guten-section guten-tdZJgR layout-boxed align-stretch"><div class="guten-container guten-column-gap-default"><!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-pwzqlo"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-pwzqlo"><div class="guten-column-wrapper" data-id="pwzqlo"><!-- wp:gutenverse/post-content {"elementId":"guten-C6Cqcy"} -->
<div class="guten-element guten-post-content guten-C6Cqcy"></div>
<!-- /wp:gutenverse/post-content --></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->