<!-- start Simple Custom CSS and JS -->
<style type="text/css">
body, html{
	overflow-x: hidden;
}
.privacy-policy header.xpro-theme-builder-header.xtb-header-sticky, .privacy-policy footer#xpro-theme-builder-footer, .page-id-1570 header.xpro-theme-builder-header.xtb-header-sticky, .page-id-1570 footer#xpro-theme-builder-footer, .page-id-1570 header.xpro-theme-builder-header.xtb-header-sticky {
    display: none;
}
.uc_btn{
	width: 135px !important;
	color: #1c3868;
}
#uc_woocommerce_product_carousel_elementor_1aca230 .active.center .ue-item {
    transform: scale3d(1.1, 1, 1) !important;
}
.uc_image_carousel_placeholder {
    width: 40% !important;
}
.uc_image_carousel_content {
    width: 60% !important;
}
.pro-des-grid .elementor-widget-container {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.pro-des-grid {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
}

a.uc_btn.uc_more_btn.uc-direction {
    width: 122px !important;
}
a.uc_btn.uc_more_btn.uc-direction, .woocommerce ul.products li.product .star-rating{
	display: none !important;
}
a.uc_btn.uc_more_btn.uc-direction:hover{
	color: white !important;
}
.head-icons [type=button], [type=submit], button{
	border: 0px ;
}
#xpro_elementor_search_keyword:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important; 
}
.page-content a {
    text-decoration: none !important;
}
.cf7-arrow-btn::after{
    margin-top: -3px;
}

.xpro-infolist-item {
    position: relative;
    display: flex;
    gap: 25px;
}
.xpro-infolist-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    z-index: 2;
}
.xpro-infolist-media {
    position: relative;
}
.xpro-infolist-media::after {
    content: "";
    position: absolute;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(0% + 132px);
    border-left: 1px dashed #bbb;
    z-index: -1;
}
.xpro-infolist-media{
   margin: 0px 10px !important;

}
.xpro-infolist-media-type-custom {
    font-size: 18px;
    line-height: 22px;
    width: 25px;
    height: 25px;
    padding: 22px 15px 22px 15px !important;
}
.xpro-infolist-item:last-child .xpro-infolist-media::after {
    display: none;
}

/**************************Login  Form  *******************************************/
.xpro-elementor-hamburger-layout-dropdown.active .xpro-elementor-hamburger-inner {
    transform: translate(-53%, 14%);
}
.xpro-woo-up-account-sec .xpro-woo-avatar-main-cls img {
    height: 45px !important;
    width: 45px !important;
}
.xpro-up-list-media-type-icon > svg {

    fill: #1f2a58;
}
.fa-sign-out-alt:before {
    color: #1f2a58;
}
.xpro-elementor-hamburger-close-btn{
	width: 30px;
	height: 30px;
}
.xpro-elementor-mini-cart-wrapper .xpro-elementor-hamburger-close-btn{
	transform: translate(-15px, 10px);
}



/* Wrapper */
.cf7-email-line p {
    position: relative;
    max-width: 520px;
    margin: 0;
}

/* Email input */
.cf7-email-line input[type="email"] {
    width: 100%;
    height: 46px;
    padding: 0 140px 0 22px;
    border-radius: 50px;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    outline: none;
}

/* Remove focus border */
.cf7-email-line input[type="email"]:focus {
    box-shadow: none;
    border-color: #dcdcdc;
}

/* Button */
.cf7-arrow-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 44px;
    padding: 0 26px;
    border-radius: 40px;
    border: none;
    background: #0b1f4b; /* dark blue */
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Arrow */
.cf7-arrow-btn::after {
    content: "›";
    font-size: 18px;
}

/* Hover */
.cf7-arrow-btn:hover {
    background: #081634;
}
.mine-newsletter .wpcf7 input[type="email"]{
	border-radius: 42px;
}
.slide-icons {
    padding-bottom: 10px;
}
.mySwiper .block-shadow {
    height: 250px;
}
.slide-block {
	display: none !important;
}
.slide-info {
    gap: 10px !important;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.mySwiper .slide-block{
	border-bottom: 0px !important;
}

.xpro-owl-theme .owl-dots {
    bottom: -35px !important;
}
/***********************************************Tabs **************************************************/
.xpro-tabs-vertical.xpro-tab-layout-4 > .xpro-tab-list-wrapper > .xpro-tab-list > li:nth-child(2n) > a {
    transform: translateX(-4px);
}
.xpro-tab-main.xpro-tabs-vertical {
    
    justify-content: center;
}
.xpro-tabs-vertical > .xpro-tab-content-wrapper {
    width: 80%;
    padding-right: 40px;
}
#xpro-tab-7eab498.xpro-tab-accordion-mobile > .xpro-tab-content-wrapper > .tab-accordion-label {
        color: #1f2a58 !important;
}
.xpro-tab-main.xpro-tabs-vertical {
    display: flex;
    flex-direction: row-reverse;
}
.xpro-tabs-vertical > .xpro-tab-list-wrapper > .xpro-tab-list > li > a {
  justify-content: center;
}
.news-main{
	overflow: hidden;
}
.news-main-img{
	    transform: translateX(-19%);
    width: 140%;
}
/***************************************************Product Page ******************************************/
.woocommerce-breadcrumb, .woocommerce div.product div.images .woocommerce-product-gallery__trigger, .woocommerce-product-gallery .zoomImg, .product_meta, h2.wb_cptb_title, h2.woocommerce-Reviews-title, .woocommerce ul.products li.product .button{
	display: none !important;
}
.single-product div#primary {
    padding-top: 50px;
}
.woocommerce-product-gallery__wrapper img {
    pointer-events: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
}
.woocommerce-product-gallery__wrapper a {
    pointer-events: auto !important;
}
.woocommerce div.product .product_title {
    font-size: 24px;
    font-family: 'EB Garamond';
    color: #1c3868;
    font-weight: 600;
    margin-bottom: 5px !important;
    line-height: 30px;
}
div.product p.price, a.woocommerce-review-link {
    color: #1b3767 !important;
}

a.woocommerce-review-link {
    font-size: 17px;
    font-family: 'Mulish';
}
div.product p.price{
    font-size: 30px !important;
    font-weight: 800 !important;
    font-family: 'Mulish' !important;
    margin-bottom: 0px !important;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 5px !important;
}
.woocommerce .star-rating span, .woocommerce .star-rating::before, .woocommerce p.stars a{
     color: #e59d2d !important;
}
.woocommerce-product-details__short-description {
    line-height: 24px;
    padding: 10px 0 !important;
    margin: 0 0 0px;
    font-size: 14px;
    font-family: 'Mulish';
}
.woocommerce div.product form.cart .button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit {
    background-color: #1f2a58;
    font-size: 15px;
    font-family: 'Mulish';
    line-height: 23px;
    border-radius: 5px;
color: white;
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit:hover{
	background-color: #e59d2d;
   color: white;
}
.quantity input[type=number] {
    padding: 8px 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before, .woocommerce div.product .woocommerce-tabs ul.tabs li{
	border: 0px !important;
    background-color: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-top: 3px solid #1b3768 !important;
    border-radius: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    border-top: 2px solid #dadada;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 15px;
    font-weight: 800;
    font-family: 'Mulish';
}
label#comment-form-rating-label {
    padding-bottom: 10px;
}
span#reply-title {
    font-size: 20px;
    color: #1f2a58;
    font-weight: 700;
}
textarea#comment {
    margin-top: 10px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    padding-top: 80px;
}
li#tab-title-additional_information {
    display: none;
}
.woocommerce-product-gallery__image {
    width: 240px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.woocommerce-message {
    border-top-color: #1f2a58;
}
.woocommerce-message::before {
    color: #1f2a58;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
    box-sizing: border-box;
    margin: 0;
    padding-right: 0px;
    width: 100%;
}
tr.wc-block-cart-items__header {
    font-size: 20px !important;
    font-family: 'EB Garamond';
    border: 1px solid #cecece;
}
 .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 58%;
}
.woocommerce .cart .button {
    float: none;
    padding: 11px 13px;
    background-color: #1f2a58 !important;
    color: white;
}
.woocommerce a.remove {
    color: #1f2a58 !important;
 font-size: 20px;
    line-height: 16px;
}
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button:disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button:disabled[disabled]{
	 color: #f8f8f8 !important;
}
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt{
    background-color: #1f2a58;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 16px 0px !important;
    font-size: 20px !important;
    font-weight: 600;
    text-transform: capitalize;
}
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt:hover{
	    background-color: #e59c2c;
    color: #1f2a58;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 40%;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    border: 1px solid gray;
}
.cart_totals h2 {
    /* padding: 10px; */
    background-color: #cccccc;
}
.elementor-product-loop-item--align-center ul.products li.product .star-rating{
	display: none !important;
}
/***********************************************************Related Products ****************************************/

section.related.products h2:first-child {
    text-align: center;
    font-size: 32px !important;
    font-family: 'GB Garamond' !important;
    padding-bottom: 20px;
    color: #1b3767;
    font-weight: 700;
}
h2.woocommerce-loop-product__title {
    font-family: 'GB Garamond' !important;
    color: #1f2a58;
    font-weight: 600;
    font-size: 16px !important;
   padding: 0px 20px 10px !important;
	line-height: 22px;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
    color: #1b3767;
    font-size: 18px;
    font-weight: 600;
}
li.product.type-product {
    /* border: 1px solid gray; */
    border-radius: 5px;
    border: 1px solid #f1f1f1;
   height: auto; 
}
.woocommerce ul.products li.product a img {
   width: 100%;
/*     height: 300px; */
    border-radius: 5px 5px 0px 0px;
}

li.product.type-product:hover{
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
 {
    text-align: center;
}
li.product .star-rating {
    display: block !important;
    margin: 0 auto 8px auto !important;  
    text-align: center !important;
}

.loop-short-description {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0px 10px;
}
.uc_post_title{
    font-size: 18px !important;
	line-height: 20px !important;
}
.owl-dot {
	display: none !important;
}
.single-product .woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
}
/*****************************Shop Page ***************************************/
li[data-filter-value="onbackorder"] {
    display: none !important;
}
select.price-range-dropdown {
    width: 265px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 6px;
}
/********************************************************************My Dashboard ****************************************/
.woocommerce-MyAccount-navigation ul li {
    /* border-radius: 6px; */
    /* list-style: none !important; */
    border-bottom: 1px solid #d1d5db;
    line-height: 0px;
    padding: 22px 8px 22px 10px;
}
.woocommerce-MyAccount-navigation ul li::marker {
    display: none !important;
    content: "" !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 25%;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 0px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul{
	padding: 0px;
}
.woocommerce-MyAccount-navigation ul li:last-child{
	border-bottom: 0px;
}
li.woocommerce-MyAccount-navigation-link.is-active {
    border-bottom: 1px solid white;
    background-color: #1f2a58;
    color: white;
	
}
.woocommerce-MyAccount-navigation-link.is-active a {
    color: #ffffff !important;
}
a {
    color: #1f2a58;
}
.woocommerce-info {
    border-top-color: #1f2a58;
}
.woocommerce-info::before {
    color: #1f2a58;
}
.woocommerce-MyAccount-navigation ul li a{
	color: #1f2a58;
}
/***************************************My Account ************************************/
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    
}
header.woocommerce-Address-title.title {
    background-color: #e1e1e1;
    text-align: center;
   padding: 10px 20px;
}
header.woocommerce-Address-title.title h2 {
    margin-block-end: 0px;
    font-weight: 600;
    font-family: 'EB Garamond';
    text-transform: capitalize;

}
address {
    padding: 20px;
}
.woocommerce-MyAccount-content p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mulish';
}
/****************************************Cart Page  ********************************************/
.woocommerce table.shop_table{
	border: 0px;
}
/***************************************Contact Us  ******************************/
a.mine-tag {
    color: #676767;
}
a.mine-tag:hover {
    color: #e59c2c;
}
/* Two columns */
.two-columns {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.two-columns span {
    flex: 1;
}

/* Full width row */
.full-row {
    margin-bottom: -27px;
}

/* Input styling */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 15px;
    outline: none;
}

.wpcf7 textarea {
    height: 160px;
    resize: none;
}

/* Checkbox row */
.terms-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.terms-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Submit button */
.wpcf7 input[type="submit"] {
    width: 100%;
    background: #131862; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
margin-top: 20px;
}
.two-columns {
    display: flex;
    gap: 12px;
    margin-bottom: -28px;
}
.wpcf7-spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0px 24px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.foo-links {
    display: inline-flex;            
    gap: 12px;                       
    align-items: center;            
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
.foo-links p {
	    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}
.foo-links a,
.foo-links .sep {
    display: inline-block !important;   
    vertical-align: middle !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* links style */
 .foo-links a {
    color: #131862;
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Mulish';
    cursor: pointer;
  }
.foo-links a:hover{
	  color: #131862;
}
.foo-links .sep {
    color: #131862;
    font-size: 17px;
    user-select: none;
  }
.cart_totals h2 {
    background-color: #cccccc;
    margin: 0px;
    padding: 15px 10px;
    color: #1f2a58;
    font-family: 'EB Garamond';
 border-radius: 4px 4px 0px 0px !important;
}
.wc-proceed-to-checkout {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;	
}
a.checkout-button.button.alt.wc-forward {
    padding: 10px 20px !important;
    border-radius: 6px;
    font-size: 18px !important;
    font-family: 'Mulish';
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    border: 1px solid #ededed;
    border-radius: 4px !important;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
    width: 50%;
}
.wp-block-woocommerce-checkout-order-summary-block {
    width: 170%;
}
.wc-block-components-sidebar-layout {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title .wc-block-components-checkout-order-summary__title-text {
    flex-grow: 1;
    font-weight: 500;
    margin: 0 0 16px 16px;
    font-family: 'EB Garamond';
    font-size: 24px;
}
button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    border: 1px solid #1f2a58 !important;
    color: #1f2a58;
    padding: 10px 20px;
    width: 30%;
}
button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained:hover {
    border: 1px solid #e59c2c !important;
    color: #1f2a58;
    padding: 10px 20px;
    width: 30%;
    background-color: #e59c2c;
}
.wc-block-checkout__terms.wc-block-checkout__terms--with-separator{
    border-top: 1px solid hsla(0, 0%, 7%, .11);
    padding-top: 15px;
}
.wc-block-components-form .wc-block-checkout__order-notes.wc-block-components-checkout-step {
    margin-bottom: 30px;
}
.mine-newsletter .wpcf7 input[type="email"] {
    padding-left: 15px !important;
}
/* checkout */
.wc-block-components-sidebar-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 16px;
    position: relative;
    flex-direction: column-reverse;
}
/* .wc-block-components-sidebar {
    box-sizing: border-box;
    padding-left: 0% !important;
    width: 45%;
} */
.wc-block-components-sidebar-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 16px;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/***********************************Mini Laptop ******************************/
@media only screen and (max-width:1366px) and (min-width:1000px){
.uc_post_intro {
    font-size: 11px;
    line-height: 18px;
}
.uc_post_title {
    font-size: 16px !important;
    line-height: 20px !important;
}
.uc_prices span.woocommerce-Price-amount.amount {
    font-size: 24px;
}
.uc-button-addcart{
    font-size: 11px;
    line-height: 18px;
}
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 textarea {
    border-radius: 8px;
	}
/* .news-head h2 {
    font-size: 27px !important;
} */
}
@media screen and (max-width:1367px){
	/******************************************************Volume Page **********************************************/
.v1-sec, .v3-sec {
    padding: 80px 0px 80px 30px !important;
}
.v2-sec{
	 padding: 80px 30px 80px 0px !important;
}

}
/******************************Mobile Responsiveness *************************/
@media only screen and (max-width: 767px){
.slide-info {
    padding-top: 15px;
    align-items: center;
}
.mySwiper .block-shadow {
        height: 320px;
    }
.mySwiper {
    padding: 15px 15px 40px;
	}
.woocommerce-product-gallery__image{
		position: relative;
	}
.woocommerce div.product .product_title {
    font-size: 22px;
    font-family: 'GB Garamond';
    color: #1c3868;
    font-weight: 600;
    margin-bottom: 5px !important;
   
}
#uc_woocommerce_product_carousel_elementor_1aca230 .active.center .ue-item {
    transform: scale3d(1, 1, 1) !important;
}
h2.woocommerce-loop-product__title {
    font-size: 15px !important;
    padding: 0px 10px 10px !important;
    line-height: 22px;
}
.xpro-woo-filter-form {
    grid-template-columns: repeat(1, 1fr);
}
.woocommerce .woocommerce-result-count {
    margin: 8px 0px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
	}
.woocommerce-account .woocommerce-MyAccount-navigation {
    margin-bottom: 18px;
}
p.woocommerce-result-count {
    font-size: 13px;
}
select{
		padding: 8px;
    font-size: 13px;
	}
option {
    font-size: 13px;
}
.woocommerce-ordering select, .xpro-filter-attributes .price-range-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 40px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.woocommerce-product-gallery__image{
		position: relative !important;
	}
.woocommerce div.product .product_title {
        font-size: 20px;
        line-height: 24px;
    }
.woocommerce-tabs.wc-tabs-wrapper {
    padding-top: 10px;
}
.woocommerce #reviews #comments ol.commentlist {
     padding: 6px 5px !important;
}
.wp-block-woocommerce-checkout.alignwide.wc-block-checkout {
    margin-inline: 0px !important;
}
.wc-block-components-sidebar-layout{
		gap: 0px;
	}
.wc-block-components-sidebar-layout .wc-block-components-main {
    width: 95%;
}
.wp-block-woocommerce-checkout-order-summary-block {
    width: 100%;
}
.wc-block-checkout__terms {
        margin-bottom: 0px;
	}
.wc-block-components-form .wc-block-checkout__order-notes.wc-block-components-checkout-step {
    margin-bottom: 20px;
}
.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title {
        padding: 8px 0;
    }
h1.entry-title {
    font-size: 22px;
    text-align: center;
    font-family: 'EB Garamond';
    padding: 20px 10px 0px 0px;
}
.wp-block-woocommerce-checkout{
		padding-top: 0px;
	}
button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    width: 36%;
}
.xpro-tabs-vertical > .xpro-tab-content-wrapper {
    width: 80%;
    padding-right: 0px;
}
.v1-sec, .v3-sec {
    padding: 40px 0px 40px 0px !important;
}
.v2-sec{
	 padding: 40px 0px 0px 0px !important;
}
.news-head h2 {
    font-size: 20px !important;
}
.news-main{
	overflow: hidden;
}
.news-main-img{
	    transform: translateX(10%);
    width: 100%;
}
}
@media only screen and (max-width: 400px) and (min-width:300px){
.v1-img{
		top:395px !important;
	}
.v3-img{
		top: 435px !important;
	}
.v2-sec {
        padding: 0px 0px 0px 0px !important;
    }
}</style>
<!-- end Simple Custom CSS and JS -->
