.elementor-100 .elementor-element.elementor-element-4008bb0:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-4008bb0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F0F0F0;}.elementor-100 .elementor-element.elementor-element-4008bb0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-4008bb0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-d8d1695 .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-d8d1695 .section-header h2{color:#504E52 !important;line-height:70px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-d8d1695 .hero-section .hero-content > p{color:#504E52 !important;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-d8d1695 .hero-section .hero-content .facts p{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-51b78d5:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-51b78d5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-100 .elementor-element.elementor-element-51b78d5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-100 .elementor-element.elementor-element-51b78d5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-0f928fc > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-100 .elementor-element.elementor-element-089591c .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-089591c .section-header h2{color:#504E52 !important;font-size:48px;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-089591c .about-area .about-content p{color:#504E52 !important;margin:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-09e57b7:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-09e57b7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EDF0F7;}.elementor-100 .elementor-element.elementor-element-09e57b7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-09e57b7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-813d5c5 .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-813d5c5 .section-header h2{color:#504E52 !important;font-size:48px;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-813d5c5 .resume-area .resume-content .resume-timeline .item .date{color:#005F9E !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-813d5c5 .resume-area .resume-content .resume-timeline .item h3{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-813d5c5 .resume-area .resume-content .resume-timeline .item p{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-e2fc89f:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-e2fc89f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-100 .elementor-element.elementor-element-e2fc89f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-e2fc89f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-cf421ee .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-cf421ee .section-header h2{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-cf421ee .services-items .service-item h3{color:#504E52 !important;margin:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-cf421ee .services-items .service-item p{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-cf421ee .services-items .service-item .projects{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-a32fcf2:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-a32fcf2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F8F8;}.elementor-100 .elementor-element.elementor-element-a32fcf2{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-a32fcf2 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-319c9f1 .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-319c9f1 .section-header h2{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-319c9f1 .skills p{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-2090be3:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-2090be3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-100 .elementor-element.elementor-element-2090be3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-2090be3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-ab189bd .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-ab189bd .section-header h2{color:#504E52 !important;margin:0px 0px 30px 0px;}.elementor-100 .elementor-element.elementor-element-ab189bd .portfolio-items .portfolio-item h3 a{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-ab189bd .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories li a{margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-449627b:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-449627b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F0F0F0;}.elementor-100 .elementor-element.elementor-element-449627b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-449627b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-09ec53b .subtitle{color:#504E52 !important;margin:20px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-09ec53b .section-header h2{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-09ec53b .testimonial-item .testimonial-item-inner > p{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-09ec53b .testimonial-item .testimonial-item-inner .author h3{color:#005F9E !important;}.elementor-100 .elementor-element.elementor-element-09ec53b .testimonial-item .testimonial-item-inner .author p{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-09ec53b .testimonial-item .testimonial-item-inner .author p span{color:#005F9E !important;}.elementor-100 .elementor-element.elementor-element-09ec53b .testimonial-item .testimonial-item-inner .project-btn{color:#504E52 !important;margin:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-74f9fe7:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-74f9fe7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-100 .elementor-element.elementor-element-74f9fe7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-74f9fe7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-687345c .subtitle{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .section-header h2{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .info a{color:#504E52 !important;margin:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .info{color:#504E52 !important;margin:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .pricing-table .pricing-table-header h4{color:#504E52 !important;margin:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .pricing-table .pricing-table-header .top p{color:#504E52 !important;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .pricing-table .pricing-table-header h2{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .pricing-table .pricing-table-header h2 span{color:#504E52 !important;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-100 .elementor-element.elementor-element-687345c .pricing-table-items .pricing-table ul li{color:#504E52 !important;}.elementor-100 .elementor-element.elementor-element-687345c .theme-btn{background:#005F9E !important;color:#FFFFFF !important;}.elementor-100 .elementor-element.elementor-element-ad41ad6:not(.elementor-motion-effects-element-type-background), .elementor-100 .elementor-element.elementor-element-ad41ad6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EDF0F7;}.elementor-100 .elementor-element.elementor-element-ad41ad6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-100 .elementor-element.elementor-element-ad41ad6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-100 .elementor-element.elementor-element-60dfddb .subtitle{color:#504E52 !important;margin:20px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-60dfddb .section-header h2{color:#504E52 !important;margin:0px 0px 20px 0px;}.elementor-100 .elementor-element.elementor-element-60dfddb .contact-area .contact-content h3{color:#504E52 !important;margin:0px 0px 20px 0px;}/* Start custom CSS for drakehero, class: .elementor-element-d8d1695 */.hero-section .hero-content h1, .hero-section .hero-content h2 {
    margin-bottom: 20px;
    font-size: 60px !important;
    line-height: 70px !important;
}

a.go-to-project-btn.scroll-to.scroll-animation {
    display: none;
}


.hero-section .hero-content .facts h2 {
    margin-bottom: 0px
}


.hero-section .hero-content h1 {
    color: #504e52;
}


.hero-section .hero-content > p{
    max-width: 600px;
    line-height: 24px;
}

.hero-section .hero-content .facts p{
      line-height: 18px;
}


/*mobile responsive*/

@media (max-width: 767px) {
  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 25px !important;
    line-height: 32px !important;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content .facts {
    margin-top: 20px !important;
  }
}

@media (max-width: 767px){.hero-section .hero-content > p{
    font-size:13px;
    max-width: 600px;
    line-height: 20px;
    
}
}

@media (max-width: 767px){.hero-section .hero-content .facts p{
    font-size:13px;
      line-height: 18px;
 }
}


@media (max-width: 767px) {
  .elementor-100 .elementor-element.elementor-element-d8d1695 .hero-section .hero-content > p {
   margin-top:15px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 40px !important;
    padding-bottom:25px !important;
  }
}


@media (max-width: 767px){
    .subtitle{
        padding:5px 10px;
        font-size:10px;
    }
}


@media (max-width: 767px){
    .subtitle i{
        font-size:14px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4008bb0 */.hero-section{
    padding: 60px 0px;
}/* End custom CSS */
/* Start custom CSS for drakeabout, class: .elementor-element-089591c */.about-area .about-content p{
    line-height: 24px;
}

/*Mobile Responsive*/
@media (max-width: 767px){.elementor-100 .elementor-element.elementor-element-089591c .section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

@media (max-width: 767px){
.about-area .about-content p{
    font-size: 13px;
    line-height: 20px;
}
}

@media (max-width: 767px) {
  .about-area {
        padding: 40px 0px !important;
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-51b78d5 */.about-area {
    padding: 60px 0px;
}/* End custom CSS */
/* Start custom CSS for drakeresume, class: .elementor-element-813d5c5 */.resume-area{
    padding:60px 0px;
}
.resume-area .resume-content .resume-timeline .item h3{
    margin-bottom: 0px;
}

/*Mobile responsive*/
@media (max-width: 767px) {
  .resume-area {
    padding:40px 0px;
  }
}

@media (max-width: 767px){.elementor-100 .elementor-element.elementor-element-813d5c5 .section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 span.date {
    font-size: 15px;
}
}

 @media (max-width: 767px){
 .resume-area .resume-content .resume-timeline .item h3 {
    font-size: 18px;
}
}

 @media (max-width: 767px){
 .resume-area .resume-content .resume-timeline .item p {
    font-size: 12px;
}
}/* End custom CSS */
/* Start custom CSS for drakeservices, class: .elementor-element-cf421ee */.services-area{
    padding: 60px 0px;
}
.section-header h2{
    margin-bottom: 20px;
}

/*Mobile responsive*/
@media (max-width: 767px) {
  .services-area {
    padding:40px 0px;
  }
}

@media (max-width: 767px){.section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 .services-items .service-item h3 {
    font-size: 18px;
}
}

 @media (max-width: 767px){
.services-items .service-item p {
    font-size: 13px;
    line-height:20px;
}
}

 @media (max-width: 767px){
 .services-items .service-item .projects {
    font-size: 11px;
}
}/* End custom CSS */
/* Start custom CSS for drakeskill, class: .elementor-element-319c9f1 */.skills-area{
  padding-top: 90px;
  padding-bottom: 60px;
  padding-right: 0px;
  padding-left: 0px;
    }
    
 
    
    .skill {
  min-height: 275px  !important;
}

.skills .skill .skill-inner{
    border: 1px solid #565656;
}



.skills .skill .skill-inner img {
  transition: transform 0.4s ease;
}

.skills .skill .skill-inner img:hover {
  transform: scale(1.1);
}



/*Mobile responsive*/
@media (max-width: 767px) {
  .skills-area {
    padding-top:40px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
  }
}

@media (max-width: 767px){.section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 .skills .skill .skill-inner h2 {
    font-size: 23px;
}
}

 @media (max-width: 767px){
 .skills .skill {
    margin-bottom:30px;
}
}/* End custom CSS */
/* Start custom CSS for drakeportfolio, class: .elementor-element-ab189bd */.portfolio-items .portfolio-item {
    margin-bottom: 0px;
}

.portfolio-area{
    padding-top: 80px;
    padding-bottom: 60px;
    padding-right: 0px;
    padding-left: 0px;
}

.elementor-100 .elementor-element.elementor-element-ab189bd .portfolio-items .portfolio-item h3 a{
    margin-bottom:20px;
}


.portfolio-items .portfolio-item:hover .portfolio-item-inner .portfolio-categories li a{
    background-color: #005f9e;
}


/*Mobile responsive*/
@media (max-width: 767px) {
  .portfolio-area {
       padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 767px){.section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 .portfolio-items .portfolio-item h3 {
    font-size: 18px;
}
}

 @media (max-width: 767px){
.portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories li a{
    font-size: 12px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2090be3 */#portfolio h3 a {
  pointer-events: none;
  cursor: default;
}/* End custom CSS */
/* Start custom CSS for draketestimonial, class: .elementor-element-09ec53b */h4.scroll-animation{
    color: #005F9E;
}

.testimonial-area{
    padding-top: 60px;
    padding-bottom: 0px;
}

.clients-logos img{
    opacity: 0.8;
}

.testimonial-area .testimonial-slider-wrap .testimonial-footer-nav{
    margin-top: 25px;
    
}

.testimonial-area .testimonial-slider-wrap .testimonial-footer-nav .testimonial-nav button{
    border: 1px solid #565656;
}
.testimonial-item .testimonial-item-inner{
    border: 1px solid #565656
}


/*Mobile responsive*/
@media (max-width: 767px) {
  .testimonial-area {
       padding-top: 30px;
       padding-bottom:10px;
       padding-left:0px;
      padding-right:0px;
  }
}

@media (max-width: 767px){.section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 .testimonial-item .testimonial-item-inner > p {
    font-size: 18px;
    line-height:26px;
}
}

 @media (max-width: 767px){
.testimonial-item .testimonial-item-inner .author h3 {
    font-size: 16px;
}
}

 @media (max-width: 767px){
.testimonial-item .testimonial-item-inner .author p {
    font-size: 12px;
}
}

 @media (max-width: 767px){
.clients-logos h4 {
    font-size: 15px;
}
}

 @media (max-width: 767px){
.clients-logos {
    padding-top:70px;
}
}

@media (max-width: 767px) {
    .clients-logos .row .col-md-3 {
        margin-bottom: 20px;
    }
    
}/* End custom CSS */
/* Start custom CSS for drakepricing, class: .elementor-element-687345c */i.las.la-angle-right{
    color:#504E52;
}
i.las.la-angle-left{
    color:#504E52;
}
.testimonial-area .testimonial-slider-wrap .testimonial-footer-nav .testimonial-nav #testimonial-slide-count .left{
    color:#005F9E;
}


.pricing-area{
    padding: 60px 0px;
}

.pricing-table-items .pricing-table .pricing-table-header .top{
    margin-bottom: 10px;
}

.subtitle i{
    margin-right: 5px;
}
.las .la-dollar-sign {
    margin-right: 0px !important;
}


/*Mobile responsive*/
@media (max-width: 767px) {
  .pricing-area {
       padding: 40px 0px;
  }
}

@media (max-width: 767px){.section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 .pricing-table-items .pricing-table .pricing-table-header h2 {
    font-size: 40px;
}
}

 @media (max-width: 767px){
.pricing-table-items .pricing-table .pricing-table-header h4{
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for drakecontact, class: .elementor-element-60dfddb */.contact-area .contact-content form .input-group label, .contact-area .contact-content .contact-form .input-group label{
    color:#005F9E;
}

/* input, select, textarea borders */
.wpcf7-form-control {
  border: 2px solid #504E52;
  transition: border-color 0.3s ease;
}

/* hover par border color */
.wpcf7-form-control:hover,
.wpcf7-form-control:focus {
  border-color: #005f9e;
  outline: none;
}

/* labels ka color */
label {
  color: #504E52;
}

/* “add an attachment” text ka color */
.upload-attachment label {
  color: #504E52;
}

/* submit button */
.theme-btn {
  background-color: #005f9e !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  transition: all 0.3s ease;
}

/* hover par button style */
.theme-btn:hover {
  background-color: #fff !important ;
  color: #005f9e !important;
  border-color: #005f9e !important;
}

.contact-area{
    padding: 60px 0px;
}

.contact-area .contact-content form .input-group, .contact-area .contact-content .contact-form .input-group{
    margin-bottom: 20px;
}


/* Placeholder text lighter aur chhota */
.wpcf7-form-control::placeholder {
  color: rgba(0, 0, 0, 0.4); /* light grey */
  font-size: 13px; /* 3px chhota */
}

.contact-area .contact-content form .input-group select, .contact-area .contact-content form .input-group textarea, .contact-area .contact-content form .input-group input, .contact-area .contact-content .contact-form .input-group select, .contact-area .contact-content .contact-form .input-group textarea, .contact-area .contact-content .contact-form .input-group input{
    border: 1px solid #005f9e !important;
   padding: 05px 10px !important;
   border-radius:20px;
}

/* Placeholder light grey */
.wpcf7-form-control::placeholder {
  color: rgba(0, 0, 0, 0.4) !important;
  opacity: 1;
}

/* Typed text black */
.wpcf7-form-control:not(:placeholder-shown) {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
}

.contact-area .contact-content form .input-group select, .contact-area .contact-content form .input-group textarea, .contact-area .contact-content form .input-group input, .contact-area .contact-content .contact-form .input-group select, .contact-area .contact-content .contact-form .input-group textarea, .contact-area .contact-content .contact-form .input-group input{
    font-size: 13px !important;
    color: #999999 !important;
}

.contact-area .contact-content form .upload-attachment label, .contact-area .contact-content .contact-form .input-group.upload-attachment label{
    overflow: visible;
    cursor: pointer;
}




/*Mobile responsive*/
@media (max-width: 767px) {
  .contact-area {
       padding: 40px 0px;
  }
}

@media (max-width: 767px){.section-header h2{
    font-size: 25px;
    line-height: 32px
}
}

 @media (max-width: 767px){
 .contact-area .contact-content h3 {
    font-size: 18px;
}
}/* End custom CSS */